.c-cart-type-ul{
  li{
    line-height: 30px;
  }

  .c-list-item{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .c-product-name{
      display: flex;
      align-items: center;
      .sale-num-icon{
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background-color: #1890ff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        margin-right: 6px;
      }
    }

    .sale-num{
      font-size: 12px;
      color: rgb(207, 19, 34);
    }
  }
}